<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.ionicframework.sharpenv1794956" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>Sharpenv1</name>
  <description>
        Sharpen Yourself Personally, Professionaly and Spiritually
    </description>
  <author email="dante@edgementoring.org" href="https://www.edgementoring.org">
      Dante Cook
    </author>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="android-minSdkVersion" value="16"/>
  <preference name="BackupWebStorage" value="none"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
</widget>
